.Sample__Header{
    display: flex;
    flex-direction:row;
    background-color: #333;
    background-color: rgb(3,89,70);
    color: white;
}
.Header__Items{
    list-style-type: none;
    display: flex;
    flex-direction: row-reverse;
    flex:3;
}
.Header__MainText{
flex:1;
align-self: center;
padding-left: 10px;
font-weight: 300;
}
.Header__Items .Header__Item{
    /* flex:1; */
    margin: 10px;
    
    padding: 0px;
}
.Header__Items .Header__Item a{
   color: white;
   text-decoration: none;
}
.Header__Items .Header__Item:hover{
    box-sizing: border-box;
    border:1px solid black;
    background-color: #99d6ff;
   
 }
 .Header__Items .Header__Item a:hover{
   color: white;
   
 }

@media (max-width: 400px) {
.Sample__Header{
    flex-direction: column;
}
.Header__MainText{
    height: 80px;
}
}

/* */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(3,89,70);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
    color: white;
  }