body{
    background-color: #f2f2f2;
}

.BodyTagWrapper{
    display: flex;
    /* border:2px solid black; */
    height:fit-content;
    position: relative;
    background-color: #e1eaea;
}
.SideDivWrapper{
    flex:1;
    /* border:2px solid black; */
    /* margin-right: 5px; */
}
.ContentDivWrapper{
flex:6;
/* border:2px solid black; */
display:flex;
flex-direction: column;
background: rgb(3,89,70);
}
.ContentSearchDivWrapper{
flex:1;
/* border:2px solid black; */
background-color: rgb(3,89,70);
}
.ContentWrapper{
flex:6;
/* border:2px solid black; */
overflow: hidden;
}
.BodyTagWrapper .openTagInMobile{
    /* width:30px; */
    background-color: #336699;
    color: white;
    position:absolute;
    left:0px;
    top:30px;
    visibility: hidden;
}
.BodyTagWrapper .openTagInMobile:hover{
cursor: pointer;
}
.BodyTagWrapper .openTagInMobile .hamberger{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}
@media(max-width:400px){
    .SideDivWrapper{
       display: none;
    }
    .BodyTagWrapper .openTagInMobile{
        visibility: visible;
    }
}
@media(min-width:400px){
    .BodyTagWrapper .openTagInMobile{
        visibility: hidden;
    }
}

@media(max-height:500px){
   .BodyTagWrapper{
       height:500px;
   }
}

.noPlayerHtml{
width:100%;
height:600px;
align-items: center;
display: flex;
justify-content: center;
align-content: center;
}
.noPlayerHtml .noPlayerHtml_Text{
    display: block;
    height: fit-content;
    width: 100%;
    font-size: 600;
    font-family:'Times New Roman', Times, serif;
    color: red;
    border:3px solid white;
    text-align: center;
}