
.SideDivWrapper{
   background-color: #042331;
   color: white;
   position: relative;
   z-index: 100;
}

.CloseTagInMobile{
cursor: pointer;
position:absolute;
right:0px;
width:35px;
height: 30px;
background-color: black;
color: black;
visibility: hidden;
z-index: 300;
}

.CloseTagInMobile .hamberger{
  width: 35px;
  height: 5px;
  background-color: rgb(217, 223, 222);
  margin: 6px 0;
}
.SideBarContentWrapper{
    display: flex;
    flex-direction: column;
    /* flex-shrink: initial; */
    position: sticky;
    top: 0px;
}
.SideBarContentItem{
    margin-top:10px;
   height: 40px;
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
  
}
.SideBarContentItem label{
   font-size: large;
 } 

 .SideBarContentItem input{
    height: max-content;
    
  } 
  
  @media(max-width:800px) and (min-width:400px){
    .SideBarContentItem label{
        font-size: large;
      } 
      .SideDivWrapper .CloseTagInMobile{
        visibility:hidden;
    }
  }
  @media(max-width:400px){
    .SideDivWrapper .CloseTagInMobile{
        visibility: visible;
    }
  }
  
  .SideBarContentItem input[type="checkbox"]{
    /* width:20px;
    height:20px;
    align-items: center; */
  }

  .SideBarContentItem label{
    margin-left: 10px;
  }
  .SideBarContentItem{
    margin-top:10px;
  }